In [9]:
a = 10000 
b = a*10000*10000*10000*10000
print(b)
b*b

100000000000000000000

10000000000000000000000000000000000000000

In [11]:
myname = '홍길동'
print(myname)

홍길동

In [18]:
i=100
j=0b110
j8 = 0o760
j16=0xabcdef

print(j8)
print(j16)

496
11259375

In [25]:
today = 20220801
year = today // 10000
month = today // 100 % 100
day = today % 100

print(f'{today} is {year}-{month}-{day}')

20220801 is 2022-8-1

In [28]:
"1" + "2"

'12'

In [32]:
bool(None)
bool(" ")

True

In [34]:
#공식적으로는 '' 관습적으로는 ""
s1 = "홍"
s1

'홍'

In [46]:
title = "나태주- \
꽃"  
#두줄로 작성하지만 한줄로 표시하는거
poem = """구름에 달가듯이 가는 나그네
길은 외줄기 남도삼백리"""

print(title)
print(poem)

나태주- 꽃
구름에 달가듯이 가는 나그네
길은 외줄기 남도삼백리

'나태주- 꽃'

In [59]:
str = '210101-1234567'
res = str.split('-')[1]
sex = res[0]   #str[7]
if(sex == '1'):
    print('남자입니다.')
else:.
    print('여자입니다.')

남자입니다.

In [56]:
str = '20210101Sunny'
date = str[:8]
weather = str[8:]
print(f'date: {date} / weather: {weather}')

date: 20210101 / weather: Sunny

In [10]:
name = "홍길동"
age = 30
#홍길동은 30살
print(name + '은 ' + str(age) + "살")
print('%s은 %d살' %(name, age))
print("{0}은 {1}살. {0}은 젊어요".format(name, age))
print(f'{name}은 {age}살 {2022-age}년생')

홍길동은 30살
홍길동은 30살
홍길동은 30살. 홍길동은 젊어요
홍길동은 30살 1992년생

In [12]:
f'{name}의 길이는 {len(name)}'

'홍길동의 길이는 3'

In [1]:
'홍길동'.isalnum()

True

In [5]:
name = '홍길동'
age = 30
a=10000
print(name, age, a, sep="__")

홍길동__30__10000

In [3]:
name = input('이름은? ')

이름은? 홍길동

In [4]:
a = 90
b = 70

In [11]:
import random as rd

lotto = [rd.randint(1,45),rd.randint(1,45),rd.randint(1,45),rd.randint(1,45),rd.randint(1,45),rd.randint(1,45)]
print(lotto)
print(len(lotto))

[40, 1, 33, 24, 34, 45]
6

In [13]:
a=[70,80,90]
b=[80,90,100]
c=2
a*2

[70, 80, 90, 70, 80, 90]

In [14]:
a[0] = 60
a

[60, 80, 90]