# 2022-08-02 Day02(python)

notepad : 메모장대용  
대부분의 언어지원

파이썬 : 배열 맨 끝에 ',' 들어가도 오류안남

cmd창에 블럭 -> 실행 중지됨  
=> enter 눌러서 선택풀기

cmd 창에서 복사

numpy에서는 세로로 추출하는 기능도 제공

개발자 노트북 I7(최소머리 4개) 추천  
I9는 발열심함  
사무용은 I3,I5(듀얼)

# list [ , , ]

In [5]:
arr1 = [
    [1,3,5],
    [3,5,7],
    [5,7,9],
]

In [7]:
arr1[0], arr1[1], arr1[2]

([1, 3, 5], [3, 5, 7], [5, 7, 9])

In [10]:
arr1[0][0] = 99
arr1

[[99, 3, 5], [3, 5, 7], [5, 7, 9]]

- import random   
    난수선택의 기본값  
1. random.seed : 초기화  
2. random.random(0,1) : 0이상 1미만  
3. random.randint(0,1) : 0이상 1이하

In [15]:
#로또
import random 
lotto = [] #빈 리스트
lotto = [
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
    random.randint(1,45),
]
lotto

[26, 35, 24, 2, 10, 19]

- 리스트추가  
    - append(value) : 마지막에 value 요소 추가  
    - insert(idx, value) : idx위치에 value 요소 추가

In [22]:
#로또2 난수 만들어서 append
import random
lotto2 = [] #빈리스트
lotto2.append(random.randint(1,45))
lotto2.append(random.randint(1,45))
lotto2.append(random.randint(1,45))
lotto2.append(random.randint(1,45))
lotto2.append(random.randint(1,45))
lotto2.append(random.randint(1,45))
lotto2

[43, 39, 14, 18, 28, 12]

In [23]:
arr2 = [1,2,3]
arr2.insert(2,40)
arr2

[1, 2, 40, 3]

- 정렬  
    - sort() : 정렬  
    - reverse() : 리스트요소 반대로 뒤집기  

sort(reverse = True)

In [26]:
lotto.sort(reverse=True) #내부정렬
lotto.reverse()
lotto

[2, 10, 19, 24, 26, 31, 35, 37]

- 리스트수정

1. 인덱싱으로 :리스트통째가 요소로 들어감

In [2]:
a = [1,2,3]
a[1] = ['c','d','e']
a

[1, ['c', 'd', 'e'], 3]

2. 슬라이싱으로  

    a[1:2] 대상은 a[1]과 같지만 범위가 다름  
    항목을 뽑아서 하나씩 요소로 들어가게됨

In [4]:
a = [1,2,3]
a[1:2] = ['c','d','e']
a

[1, 'c', 'd', 'e', 3]

- 리스트삭제
1. pop() : 마지막요소 반환+삭제  
pop(idx) : idx요소 반환+삭제

2. remove(value) : value와 일치하는 첫번째요소 삭제(반환x)

3. del a[1] : 변수명a[1]에 해당하는 값을 지움 (잘 안씀)

In [28]:
lotto.remove(10)
lotto

[2, 19, 24, 26, 31, 35, 37]

- 역순  
    - arr[::-1] : 복제한 애를 역순으로, reverse()가 있기때문에 잘 안씀  
    - arr.reverse() : 원본을 건드림

In [31]:
arr3 = [1,3,5,4,2]
#arr3[::-1]
arr3.reverse()
arr3

[1, 3, 5, 4, 2]

In [34]:
arr4 = ['Python','is','too','interesting']
" ".join(arr4)

'Python is too interesting'

- count(value) : value와 일치하는 개수 반환

- extend 
    a.extend([4,5]) : 새로운애가 아닌 a에 [4,5] 더해줌  
    * a+b는 a도 b도 아닌 새로운애가 됨

In [10]:
a = [1,2,3]  
a.extend([4,5])
a

[1, 2, 3, 4, 5]

# tuple ( , , )

- 데이터변경 불가능, 조회만 가능! = 값 전달용으로 사용  
- 소괄호로 안묶어도 자동으로 묶임  
    - print없이, 괄호없이 콤마로 데이터쓰면 값을 정의하는줄 알고 무조건 튜플로 인식  
    print(1,2) -> 출력  
    1,2 -> 튜플로 인식  

- 리스트의 인덱싱, 슬라이싱방법과 동일  
- 값 수정 불필요한 경우, 리스트보다 튜플 사용이 효율적 (메모리 사용 더 적음)  

'tuple' object does not support item assignment

- 시퀀스 타입간의 변환  
    개발 시에는 사용 잘안함

In [5]:
myStr = 'python'

list(myStr) #문자열을 리스트로

['p', 'y', 't', 'h', 'o', 'n']

In [6]:
tuple(myStr) #문자열을 튜플로

('p', 'y', 't', 'h', 'o', 'n')

# set { , , }

집합자료형  
중복안됨, 순서없음

- set 생성  
1. a = {'a','b','c'}
2. a= set('abc')

- set 추가    
set.add(value)    

    - 여러개 add  
    set.update(container)

In [35]:
참석자 = set()
day1 = {'홍','김','이'}
참석자.update(day1)
day2 = {'박','홍','최'}
참석자.update(day2)
참석자

{'김', '박', '이', '최', '홍'}

In [36]:
참석자.remove('최')
참석자

{'김', '박', '이', '홍'}

- set 연산  
    차집합 -, difference   
    합집합 |, union   
    교집합 &, intersection

In [37]:
참석자 - day1

{'박'}

In [40]:
import random
lotto3 = set() #빈 셋
lotto3.add (random.randint(1,45))
lotto3.add (random.randint(1,45))
lotto3.add (random.randint(1,45))
lotto3.add (random.randint(1,45))
lotto3.add (random.randint(1,45))
lotto3.add (random.randint(1,45))
lotto3

{7, 10, 28, 34, 36, 37}

In [48]:
a = [1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.sort(reverse=True)
a

[7, 6, 5, 4, 3, 2, 1]

- 데이터변환 (세트를 리스트, 튜플로)

In [8]:
s = set([1,2,3]) #list to set

l = list(s) #set to list
l

[1, 2, 3]

In [9]:
t = tuple(s) #set to tuple
t

(1, 2, 3)

# dictionary { : , : }

- 딕셔너리 생성  
    key값은 고유한 값, 변경불가능한 객체(immutable object)  
    ex) tuple, 정수  

1. {key:value, key:value}  
2. dict(key=value, key=value)  
    dict()사용 시 key는 문자열만 가능

In [52]:
names = ["홍","김","이"]
scores = [70,90,80]
score_dict = {"홍" : 70, "김" : 90, "이" : 80}
score_dict

{'홍': 70, '김': 90, '이': 80}

- 딕셔너리 조회  
1. a[key] : key값 존재하지 않으면 에러  
2. a.get(key) : key값 존재하지 않으면 None

- 딕셔너리 관련 함수  
    keys() : key 정보들  
    values() : value 정보들  
    items() : key,value 정보들 쌍으로

In [54]:
list(score_dict.keys())

['홍', '김', '이']

In [55]:
list(score_dict.values())

[70, 90, 80]

In [56]:
list(score_dict.items())

[('홍', 70), ('김', 90), ('이', 80)]

In [58]:
v = score_dict.values()
sum(v), len(v)
sum(v)/len(v) #평균

80.0

- 딕셔너리 삭제  
1. del a[key]  
2. a.pop(key)  
3. a.clear()  
    clear() 대신에 덮어쓰는 것 추천  
     1. a = dict() : 새로운 사전객체를 만들어서 a에 덮어씀   
&nbsp; = 빈객체 생성, 기존a의 데이터는 존재하지만 아무도 가리키지않는 쓰레기객체가 됨  
     2. a.clear() : 기존 내부데이터 비움, 잘 안씀   
=> why? 지울 때도 CPU 사용하는데 지우고 재할당하느니 덮어쓰기

In [66]:
A = {'a':90, 'B':80, 'C':70}
print(A.get('B'))
A.pop('B')
print(A)

80
{'a': 90, 'C': 70}

- in, not in => return bool  
    - 'A' in d : d딕셔너리 안에 'A'라는 key가 있니  
    - 'A' not in d : d딕셔너리 안에 'A'라는 key가 없니  

a.keys  
출력 : ([key1, key2, key3])  
list(a.keys)  
출력 : [key1, key2, key3]

# if문

statement 앞에 꼭 들여쓰기 (tab 아니더라도 블럭안에 같은크기의 공백이여야함)
```
if condition:  
    statement  
else:  
    statement 
```

- 3항연산자  
    `a=참일때값 if condition else 거짓일때값`

- 내장함수와 변수  
    sum()내장함수가 있기때문에 변수로 sum 사용하면 곤란해짐

# if 연습문제

In [68]:
ans = input("성별입력(MALE, FEMALE)")
if ans == "MALE":
    print("남성")
    print("남성")
    
else:
    print("남성")
    print("여성")

성별입력(MALE, FEMALE)MALE
남성
남성

In [70]:
ans = int(input("나이입력"))
2022-int(ans)+1

나이입력28

1995

In [71]:
height = int(input("키를 입력하세요:"))
weight = int(input("몸무게를 입력하세요:"))

fat = weight + 100 - height
print(f"비만 수치는 {fat}입니다.")

if fat>0:
    print("당신은 비만입니다.")

키를 입력하세요:160
몸무게를 입력하세요:80
비만 수치는 20입니다.
당신은 비만입니다.

In [4]:
#1~100 난수생성
import random
com = random.randint(1,100)
count = 0

In [11]:
user = 87
count+=1 
print(f"{count}번째 시도")

if com == user: 
    print("정답입니다!!") 
else: 
    if com < user: 
        print("낮춰주세요") 
    else: 
        print("높여주세요") 
    if count>10: 
        print("당신은 바보입니까?")

13번째 시도
정답입니다!!

In [6]:
score = int(input("성적을 입력하세요 : "))

grade = "A" if score>=90 else ("B" if score >= 80 else ("C" if score>=70 else "D"))
grade

성적을 입력하세요 : 90

'A'

# while 연습문제

In [2]:
import random
com = random.randint(1,100)
count = 0
user =''

while com != user:
    user = int(input("숫자를 입력하세요 : "))
    
    count+=1 
    print(f"{count}번째 시도")

    if com == user: 
        print("정답입니다!!") 
    else: 
        if com < user: 
            print("낮춰주세요") 
        else: 
            print("높여주세요") 
        if count>10: 
            print("당신은 바보입니까?")

숫자를 입력하세요 : 50
1번째 시도
높여주세요
숫자를 입력하세요 : 60
2번째 시도
높여주세요
숫자를 입력하세요 : 70
3번째 시도
높여주세요
숫자를 입력하세요 : 80
4번째 시도
높여주세요
숫자를 입력하세요 : 90
5번째 시도
낮춰주세요
숫자를 입력하세요 : 85
6번째 시도
높여주세요
숫자를 입력하세요 : 87
7번째 시도
정답입니다!!

In [5]:
scores = [70,80,90]
#총합계산
total = 0
for s in scores:
    total += s
print(total/len(scores))

80.0

# for 반복문

```
for 변수 in iterable(list, tuple, str)  
    statement  
```

break : 현재 속한 반복문 종료  
continue : 현재 반복내부의 나머지 코드 건너뛰기  
pass : 껍데기만, 무한반복문 작성 시 사용

# for 연습문제

In [42]:
import random
com = random.randint(1,100)
count = 0
correct = False
user =''

for count in range(0,10):
    user = int(input("숫자를 입력하세요 : "))
    
    count+=1 
    print(f"{count}번째 시도")

    if com == user: 
        correct = True
        print("정답입니다!!") 
        break
    else: 
        if com < user: 
            print("낮춰주세요") 
        else: 
            print("높여주세요") 
            
if correct == False and count==10: 
    print("당신은 바보입니까?")

숫자를 입력하세요 : 12
1번째 시도
낮춰주세요
숫자를 입력하세요 : 13
2번째 시도
낮춰주세요
숫자를 입력하세요 : 3
3번째 시도
높여주세요
숫자를 입력하세요 : 4
4번째 시도
높여주세요
숫자를 입력하세요 : 5
5번째 시도
높여주세요
숫자를 입력하세요 : 6
6번째 시도
높여주세요
숫자를 입력하세요 : 7
7번째 시도
높여주세요
숫자를 입력하세요 : 8
8번째 시도
높여주세요
숫자를 입력하세요 : 9
9번째 시도
높여주세요
숫자를 입력하세요 : 10
10번째 시도
높여주세요
당신은 바보입니까?

In [22]:
tot =  0
for i in range(1,101):
    tot += i

tot

5050

In [32]:
#dan = 3
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan}*{i}={dan*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [28]:
test2D = [[1,2,3], [4,5,6], [7,8,9,10]]

for i in range(len(test2D)):
    for k in range(len(test2D[i])):
        print(test2D[i][k], end = ' ')

1 2 3 4 5 6 7 8 9 10

In [35]:
for i in test2D:
    for j in i:
        print(j, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
cnt = 0
for i in range(10):
    ?
print(cnt) #20일 때 ?에 들어갈 명령문

In [36]:
for i in range(10):
    pass

# comprehensions (많이 사용함)

- for문을 사용해서 새로운 list를 만듬  
    개발 시 자주 사용  
    
`l = [x**2 for x in range(10)]`  
range(10)의 값은 x 로 받아서 x의 제곱으로 리스트를 만듬

In [39]:
scores = [70,80,90]
print( [True if s<80 else False for s in scores])
print( [s/10 for s in scores])
scores = [str(s) for s in scores]
"-".join(scores)

[True, False, False]
[7.0, 8.0, 9.0]

'70-80-90'

# 함수

- 모듈만들기에 필수적

def 함수명(arg):  
&nbsp;&nbsp; statement  
&nbsp;&nbsp; return

In [53]:
# 컴 1,2,3 난수로 생성 -> 가위, 바위, 보 출력
# if문 사용하지 않고
import random
com = random.randint(1,3)

#dict
di = {1:'가위', 2:'바위', 3:'보'}
print(di.get(com))

#list
li = ["","가위","바위","보"]
print(li[com])

보
보

- print(함수명) : 함수가 실행되는 위치값(주소)  
- print(함수명()) : 함수가 실행되는 주소에서 실행해라 = return 값

In [63]:
def my_hello():
    return ("Hello")

ans = my_hello()
print(ans)
print(my_hello)

aa = my_hello # 함수의 위치값을 가지고 있는 변수가 하나 더 생김
aa()

# my_hello("홍길동")

Hello
<function my_hello at 0x000002C0043928B0>

'Hello'

- Object : 할당받은 메모리영역  
    함수도 넣고 변수도 넣고